<div class="d-flex flex-row pe-3">
    <div class="card col-lg-4">
        <div class="d-flex flex-column flex-wrap text-capitalize p-2">
            <h6 class="flex-fill">situação cadastral do CPF</h6>
            <small class="text-muted flex-fill">consulta na receita federal</small>
            <div class="input-group ps-1 flex-fill">
                <i class="fas fa-user-check my-auto text-secondary"></i>

                <div class="col ms-2 ml-2 form-floating">
                    <input type="text" readonly class="form-control-plaintext" id="currentCPF.nome"
                        [value]="currentCPF.nome">
                    <label for="currentCPF.nome">nome</label>
                </div>
            </div>
            <div class="input-group ps-1 flex-fill" [ngSwitch]="currentCPF.situacao.codigo">
                <i class="fas fa-check-circle my-auto text-success" *ngSwitchCase="0"></i>
                <i class="fas fa-times-circle my-auto text-danger" *ngSwitchCase="2"></i>
                <i class="fas fa-book-dead my-auto text-warning" *ngSwitchCase="3"></i>
                <i class="fas fa-exclamation-circle my-auto text-warning" *ngSwitchCase="4"></i>
                <i class="fas fa-boxes my-auto text-warning" *ngSwitchCase="5"></i>
                <i class="fas fa-ban my-auto text-danger" *ngSwitchCase="8"></i>
                <i class="fas fa-question my-auto text-secondary" *ngSwitchDefault></i>
                <div class="col ms-2 ml-2 form-floating">
                    <input type="text" readonly class="form-control-plaintext" id="currentCPF.situacao.descricao"
                        [value]="currentCPF.situacao.descricao">
                    <label for="currentCPF.situacao.descricao">situação do CPF</label>
                </div>
            </div>
        </div>
    </div>

    <div class="card col-lg-4 mx-3" *ngIf="currentAccount">
        <div class="d-flex flex-column flex-wrap text-capitalize p-2">
            <h6 class="flex-fill">conta aplicação</h6>
            <small class="text-muted flex-fill">cooperativa viaCredi</small>
            <div class="input-group ps-1 flex-fill">
                <i class="fas fa-credit-card my-auto text-secondary"></i>

                <div class="col ms-2 ml-2 form-floating">
                    <input type="text" readonly class="form-control-plaintext" id="currentAccount.coop"
                        [value]="currentAccount.coop">
                    <label for="currentAccount.coop">numero da conta</label>
                </div>
            </div>
            <div class="mt-3 flex-fill">
                <a role="button" class="btn btn-light text-primary disabled" disabled>duplicar conta</a>
            </div>
        </div>
    </div>

    <div class="card col-lg-4" *ngIf="currentAccount">
        <div class="d-flex flex-column flex-wrap text-capitalize p-2">
            <h6 class="flex-fill">conta corrente</h6>
            <small class="text-muted flex-fill">cooperativa viaCredi</small>
            <div class="input-group ps-1 flex-fill">
                <i class="fas fa-credit-card my-auto text-secondary"></i>

                <div class="col ms-2 ml-2 form-floating">
                    <input type="text" readonly class="form-control-plaintext" id="currentAccount.personal"
                        [value]="currentAccount.personal">
                    <label for="currentAccount.personal">numero da conta</label>
                </div>
            </div>
            <div class="mt-3 flex-fill">
                <a role="button" class="btn btn-light text-primary disabled" disabled>duplicar conta</a>
            </div>
        </div>
    </div>
</div>